<div class="content">
  <table>
    <thead>
    <tr>
      <th class="header" (click)="filter('id')">
        No.
      </th>
      <th class="header" (click)="filter('name')">
        Item Name.
      </th>
    </tr>
    <tr>
      <th class="header">
        <input type="text" style="width: 100%" placeholder="No" (input)="search('id',searchId)" [(ngModel)]="searchId"/>
      </th>
      <th class="header">
        <input type="text"  placeholder="Name" (input)="search('name',searchName)" [(ngModel)]="searchName"/>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngIf="!items?.length" >
      <td>
        No data available in table
      </td>
    </tr>

    <tr  *ngFor="let item of items;let i = index">
        <td scope="row" >{{item?.id}}</td>
        <td scope="row" >{{item?.name}}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <div>
      Input page number:
      <input type="number" class="small_input" placeholder="Page" (change)="loadData()" [(ngModel)]="offset"/>
    </div>
    <div>
      Input page size:
      <input type="number" class="small_input" placeholder="Amount" (change)="loadData()" [(ngModel)]="amount"/>
      <p>Loaded {{items?.length || 0}} of {{totalAmount}}</p>
  </div>
  </div>
</div>
